:root{
--primary-color:#25D366;
}

body {

font-family: Arial;
margin: 0;
background: #000;
color: #fff;

}

/* cuando aparece el carrito agregamos espacio abajo */

body.cart-visible{
padding-bottom:260px;
}

/* header */

.header{
padding:15px;
text-align:center;
background:#111;
border-bottom:1px solid #333;
}

/* menu */

#menu{
padding:10px;
}

/* categorias */

.category{

margin-bottom:10px;
border:1px solid #333;
border-radius:8px;


}

.category-header{

cursor:pointer;
padding:14px;
font-weight:bold;
background:#1a1a1a;
border-bottom:1px solid #333;

position:sticky;
top:0;

z-index:2;

box-shadow:0 2px 4px rgba(0,0,0,0.4);

}

.category-header::after{

content:"▼";
float:right;
transition:transform 0.3s;

}

.category.open .category-header::after{
transform:rotate(180deg);
}

/* acordeon */

.category-content{

max-height:0;
overflow:hidden;
transition:max-height 0.35s ease;

}

.category.open .category-content{
max-height:2000px;
}

/* productos */

.product{

display:flex;
padding:10px;
border-top:1px solid #222;
align-items:center;

}

.product img{

width:60px;
height:60px;
object-fit:cover;
border-radius:8px;
margin-right:10px;

}

.product-info{
flex:1;
}

.product-name{
font-weight:bold;
}

.product-price{
color:#00ff88;
}

/* controles */

.product-controls{

display:flex;
align-items:center;
gap:6px;

}

.btn{

width:30px;
height:30px;
border:none;
border-radius:6px;
cursor:pointer;
font-weight:bold;

}

.btn-plus{
background:#28a745;
color:white;
}

.btn-minus{
background:#dc3545;
color:white;
}

.quantity{

width:25px;
text-align:center;

}

/* carrito */

.cart{

position:fixed;
bottom:0;
left:0;
right:0;

background:#111;
border-top:2px solid #333;

padding:15px;

display:none;

/* clave para evitar superposición */

z-index:1000;

}

/* boton whatsapp */

.whatsapp-btn{

width:100%;
padding:12px;
background:var(--primary-color);
border:none;
border-radius:8px;
font-size:16px;
font-weight:bold;
color:white;
cursor:pointer;

}

.cart-total{

margin-top:8px;
margin-bottom:15px;
font-size:18px;

}

/* formulario */

.order-form{

display:flex;
flex-direction:column;
gap:8px;
margin:10px 0;

}

.order-form input,
.order-form select,
.order-form textarea{

padding:8px;
border-radius:6px;
border:1px solid #333;
background:#1a1a1a;
color:white;
font-size:14px;

}

.order-form textarea{

resize:none;
height:60px;

}

#addressContainer{
display:none;
}

/* header restaurante */

.restaurant-header{

text-align:center;
padding:20px;

}

#restaurantLogo{

width:120px;
border-radius:12px;
margin-bottom:10px;

}

#restaurantName{

color:white;
font-size:26px;

}

/*Mejora scroll movil*/

html, body {
height:100%;
overflow-y:auto;
}