*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

background:#0F1115;
color:#F1F3F5;
font-family:Inter, sans-serif;

}

/* TOP BAR */

.topbar{

height:70px;
display:flex;
justify-content:space-between;
align-items:center;

padding:0 30px;

background:#161A21;

border-bottom:1px solid #2A2F38;

font-size:24px;
font-weight:600;

}

/* KANBAN */

.kanban{

display:grid;

grid-template-columns:1fr 1fr 1fr;

gap:16px;

padding:16px;

height:calc(100vh - 70px);

}

/* COLUMN */

.column{

background:#12151B;

border-radius:12px;

display:flex;
flex-direction:column;

overflow:hidden;

}

/* COLUMN HEADER */

.column-header{

padding:14px;

font-size:18px;

font-weight:700;

text-align:center;

border-bottom:1px solid #2A2F38;

}

.column-header.new{
color:#F59E0B;
}

.column-header.preparing{
color:#3B82F6;
}

.column-header.ready{
color:#22C55E;
}

/* COLUMN BODY */

.column-body{

padding:12px;

overflow-y:auto;

display:flex;
flex-direction:column;

gap:12px;

}

/* CARD */

.order-card{

background:#1A1D23;

border-radius:12px;

padding:16px;

border:1px solid #2A2F38;

display:flex;

flex-direction:column;

justify-content:space-between;

box-shadow:0 8px 30px rgba(0,0,0,.6);

}

/* URGENT */

.order-card.urgent{

box-shadow:0 0 12px rgba(239,68,68,.5);

}

/* NUMBER */

.order-number{

font-size:34px;

font-weight:700;

}

/* CUSTOMER */

.customer{

font-size:16px;

color:#9AA4B2;

margin-bottom:6px;

}

/* ITEMS */

.item{

font-size:20px;

margin:4px 0;

}

/* TIMER */

.timer{

margin-top:10px;

font-size:24px;

font-weight:700;

}

.green{color:#22C55E}
.orange{color:#F59E0B}
.red{color:#EF4444}

/* PROGRESS */

.progress{

height:6px;

background:#2A2F38;

border-radius:6px;

margin-top:6px;

overflow:hidden;

}

.progress-bar{

height:100%;

background:linear-gradient(90deg,#22C55E,#16A34A);

}

/* BUTTON */

.btn{

margin-top:12px;

padding:12px;

border:none;

border-radius:8px;

font-size:18px;

font-weight:600;

cursor:pointer;

}

.btn-start{
background:#F59E0B;
color:black;
}

.btn-ready{
background:#22C55E;
color:black;
}

.btn-delivered{
background:#374151;
color:white;
}

/*Estilo para fecha y hora*/
/* CLOCK */

#clock{

display:flex;
flex-direction:column;
align-items:flex-end;

}

/* HORA */

#time{

font-size:28px;
font-weight:700;
letter-spacing:1px;

}

/* FECHA */

#date{

font-size:14px;
color:#9AA4B2;
margin-top:2px;

}


#clock {
    display: flex;
    align-items: center;
    gap: 12px;
}

#logout {
    font-size: 18px;
    cursor: pointer;
    opacity: 0.7;
    transition: 0.2s;
}

#logout:hover {
    opacity: 1;
    transform: scale(1.1);
}

.topbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.topbar-right{
    display:flex;
    align-items:center;
    gap:12px;
}

#clock{
    text-align:right;
}

#logout{
    font-size:18px;
    cursor:pointer;
    opacity:0.7;
    transition:0.2s;
}

#logout:hover{
    opacity:1;
    transform:scale(1.1);
}
